
.center-mobile {
  display: block;
  width: 100%;
  padding: 10px;
}

.image {
    
    align-self: center;
    padding: 10px;
}

.card {
  max-width: 500px;
  margin-right: 10px;
  margin-bottom: 10px;
}