.center-mobile {
  display: block;
  width: 100%;
  padding: 10px;
}

.image {
    display: block;
    align-self: center;
    padding: 10px;
}

.cover-image {
    display: block;
    align-self: center;
    padding: 10px;
}


.cover-image-left {
    display: flex;
    width: 50%;
    margin-right: 25px;
    margin-left: 0px;
}