.center-mobile {
  display: block;
  width: 100%;
  padding: 10px;
}

.fiverr-button {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  width: 225px;
}

:host ::ng-deep .mat-mdc-fab {
  background-color: lavender;
  color: purple;
  font-size: large;
}


