.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fiverr-button {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  width: 225px;
}

.etsy-button {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  width: 225px;
}

.insta-button {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  width: 225px;
}

:host ::ng-deep .mat-mdc-fab {
  background-color: lavender;
  color: purple;
  font-size: large;
}