.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.flex-container {
  display: flex;
}

.fiverr-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding: 10px;
  text-align: center;
}

.etsy-button {
  display: block;
  margin-left: 50px;
  margin-right: auto;
  width: 25%;
  padding: 10px;
  text-align: center;
}

.insta-button {
  display: block;
  margin-left: 50px;
  margin-right: auto; 
  width: 25%;
  padding: 10px;
  text-align: center;
}

.button-content {
  display: inline-block;
}

.button-content2 {
  display: inline-block;
}